/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font);
  font-size: 18px;
  color: var(--accent-color);
  font-variation-settings: 'wght' 400;
  background-color: var(--bg-color);
  background-image: 
    repeating-linear-gradient(0deg, var(--gr-color) 0 2px, transparent 2px 4px),
    repeating-linear-gradient(90deg, var(--gr-color) 0 2px, transparent 2px 4px),
    linear-gradient(var(--gr-direction), var(--gr-color-medium) 0%,  var(--gr-color-dark) 0.01%, var(--gr-color-medium) 100%);
  background-size: cover;
}

.header,
.main,
.footer {
  margin-inline: clamp(0rem, -8.1866rem + 34.9296vw, 23.25rem);
}

.header {
  margin-block: 102px 104px;
  font-family: var(--accent-font);
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.page__logo {
  display: block;
  margin: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) auto 20px;
  text-align: center;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header__title {
  text-align: center;
  margin-block-end: 25px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  margin-inline-start: clamp(9.625rem, 6.0819rem + 15.1174vw, 19.6875rem);
  margin-inline-end: clamp(8.3125rem, 4.7033rem + 15.3991vw, 18.5625rem);
  margin-block-end: 25px;
}

.theme-menu__button {
  position: relative;
  display: flex;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
}

.theme-menu__button:disabled::before {
  content: '▶️';
  display: block;
  inline-size: 16px;
  block-size: 13px;
  margin-inline-start: -18px;
  animation: slideInFromLeft 0.5s infinite ease-in-out reverse;
}

@keyframes slideInFromLeft {
  from {
    translate: 0;
  }
  to {
    translate: 4px;
  }
}

.theme-menu__button:hover,  
.theme-menu__button:disabled
{
  opacity: 0.6;
  transition: 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  position:absolute;
  bottom: -2px;
  content: " ";
  border-bottom: 2px solid var(--accent-color);
  transform: scale(0);
  inline-size: 100%;
  transition: transform 0.3s ease;
  transform-origin: left center;
}

.theme-menu__button:focus-visible::after {
  transform: scale(1);
  opacity: 0.6;
}

.theme-menu__button:disabled {
  pointer-events: none;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  position: relative;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.card__title {
  font-variation-settings: 'wght' var(--title-weight);
  font-weight: var(--title-weight);
  font-size: 18px;
  margin-inline-start: 10px;
  margin-block-end: 5px;
}

.card__picture {
  display: flex;
  flex-direction: row;
  z-index: 0;
}

.card__image {
  inline-size: 100%;
  object-fit: contain;
  object-position: center;
}

.card__label {
  position: absolute;
  justify-self: end;
  right: 0;
  padding-block-start: 25px;
  padding-inline-end: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  font-family: var(--accent-font);
  font-size: 14px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: -1px 0 var(--color-shadow), 0 1px var(--color-shadow), 1px 0 var(--color-shadow), 0 -1px var(--color-shadow);
}

@supports((text-stroke: 1px var(--color-shadow)) or (-webkit-text-stroke: 1px var(--color-shadow))) {
  .card__label {
      -webkit-text-stroke: 1px var(--color-shadow);
      text-stroke: 1px var(--color-shadow);
      text-shadow: none;
  }
}

.filter__contrast {
  filter: contrast(150%);
}

.card__container_text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-inline: 25px;
  margin-block: 25px;
  font-size: 18px;
}

.filter__sepia {
  filter: sepia(1.1);
}

.filter__invert {
  filter: invert(90%);
}

.filter__saturate {
  filter: saturate(120%);
}

.filter__blur {
  filter: blur(2px);
}

.filter__grayscale {
  filter: grayscale(80%);
}

.filter__saturate__contrast {
  filter: saturate(150%) contrast(120%);
}

.card__button {
  display: flex;
  margin-block: 25px;
  margin-inline-end: 25px;
  gap: 10px;
  align-items: center;
  justify-content: end;
}

.card__icon-button {
  block-size: 38px;
  inline-size: 38px;
  border: transparent;
  background-color: transparent;
}

.sparks {
  opacity: 0;
}

.card__icon-button:focus {
  outline: none;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  overflow: hidden;
}

.button:focus {
  outline: none;
  transition: 0.3s ease;
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.button::after {
  content: '';
  position: absolute;
  display: block;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: translate(-100%);
}

.button:hover::after {
  transform: translate(0);
}

.card__like-button {
  inline-size: 130px;
  padding: 9px 17px;
  gap: 10px;
}

.button__text {
  position: relative;
  z-index: 1;
  font-family: var(--accent-font);
  font-size: 14px;
  color: var(--color-text);
  mix-blend-mode: difference;
}

.footer__button {
  gap: 8px;
  inline-size: clamp(19.125rem, 18.4868rem + 2.723vw, 20.9375rem);
  margin-inline: auto;
  margin-block: 54px 105px;
  padding: 15px 20px;
  white-space: nowrap;
}

.floppy {
  position: relative;
  inline-size: 21px;
  block-size: 21px;
  z-index: 1;
  mix-blend-mode: difference;
  fill: var(--color-floppy);
}

.dialog {
  position: fixed;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr min-content;
  row-gap: 30px;
  column-gap: 20px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  text-transform: uppercase;
  line-height: 150%;
  padding-block: 30px;
  padding-inline: 40px;
  inline-size: clamp(21.3125rem, 20.9604rem + 1.5023vw, 22.3125rem);
}

.dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

dialog:not([open]) {
  opacity: 0;
  pointer-events: none;
}

.dialog__button {
  padding: 9px 17px;
  gap: 10px;
  color: var(--accent-color);
  grid-column: span 2;
}

.dialog .floppy  {
  inline-size: 39px;
  block-size: 39px;
  align-self: center;
}

@media (width <= 768px) {
  .dialog {
    padding-inline: 30px;
  }

  .footer__button {
    flex-direction: column;
  }

  .floppy {
    inline-size: 28px;
    block-size: 28px;
  }
}